<ul id="admin-nav" class="clearfix">
  <% if admin? -%>
  <li id="nmembers"<%= class_for(hosted_url(:users)) %>><%= link_to 'Members', hosted_url(:users) %></li>
  <li id="nsettings"<%= class_for(hosted_url(:settings)) %>><%= link_to 'Settings', hosted_url(:settings) %></li>
  <% end -%>
</ul>
<% unless @content_for_admin_tab.blank? -%>
<ul id="second-nav" class="clearfix">
<%= yield :admin_tab %>
</ul>
<% end -%>


